<input type="submit" class="btn btn-primary btn-block" value="{{name}}" (click)="mosocuirc()" />

<ul class="list-group btn-block" style="display:none" id="ircsig" #ircsig>
    <h6 class="bg-info text-white">Elige un signo/sintoma para definir tu diagnóstico de enfermería:</h6>
    <li class="text-center" *ngFor="let signo of signos"><a class="btn btn-info btn-block ">{{signo}}</a></li>
</ul>