<input type="submit" class="btn btn-primary btn-block" value="{{name}}" />

<ul class="list-group btn-block">
    <li class="text-center" *ngFor="let signo of signos"><a class="btn btn-info btn-block">{{signo}}</a></li>
</ul>