<!--The content below is only a placeholder and can be replaced.-->

<div class="col-xl-12">
    <h1 class="bg-info text-white text-center">Diagnósticos enfermeros</h1>
</div>
<h4>Elige una patología para tu diagnóstico:</h4>
<hr>

<app-dm></app-dm>
<hr>
<app-gi></app-gi>
<hr>
<app-irc></app-irc>